In [1]:
import psycopg2 as pg
import pandas as pd

In [2]:
#Credentials:
host = 'comunidade-ds-postgres.c50pcakiuwi3.us-east-1.rds.amazonaws.com'
port = 5432
Database = 'comunidadedsdb'
user = 'member'
password = 'cdspa'

In [3]:
conn = pg.connect( user=user,
            password=password,
            host=host,
            port= port,
            database=Database)

# Schema Query

In [4]:
cursor = conn.cursor()

query_schema = """
    select NSPNAME
    from pg_catalog.pg_namespace
"""

cursor.execute(query_schema)

record = cursor.fetchall()
cursor.close()
conn.close()

In [5]:
record

[('pg_toast',),
 ('pg_temp_1',),
 ('pg_toast_temp_1',),
 ('pg_catalog',),
 ('information_schema',),
 ('public',),
 ('pa004',),
 ('pg_temp_4',),
 ('pg_toast_temp_4',),
 ('pa005',),
 ('pg_temp_9',),
 ('pg_toast_temp_9',)]

# Table Query

In [6]:
cursor = conn.cursor()

query_tables = """
    select tablename
    from pg_tables
    where schemaname= 'pa004'
"""

cursor.execute(query_tables)

record = cursor.fetchall()
print(record)

cursor.close()
conn.close()

InterfaceError: connection already closed

# Collect Data Using Psycopg2

In [27]:
cursor = conn.cursor()

query_tables_users = """
    select *
    from pa004.users u
    where u.age > 44
    limit 10
"""

cursor.execute(query_tables_users)

record = cursor.fetchall()
print(record)

cursor.close()
conn.close()

[(2, 'Male', 76, 3.0, 26.0), (3, 'Male', 47, 28.0, 26.0), (8, 'Female', 56, 28.0, 26.0), (11, 'Female', 47, 35.0, 124.0), (14, 'Male', 76, 28.0, 13.0), (15, 'Male', 71, 28.0, 30.0), (20, 'Female', 60, 33.0, 124.0), (21, 'Male', 65, 28.0, 124.0), (22, 'Male', 49, 28.0, 124.0), (27, 'Female', 51, 28.0, 124.0)]

# Collec Data using Pandas

In [41]:
query_tables_users = """
    select *
    from pa004.users u LEFT JOIN pa004.vehicle v ON (u.id = v.id)
                       LEFT JOIN pa004.insurance i ON (u.id = i.id)
    
"""

In [42]:
df1 = pd.read_sql(query_tables_users, conn)
data= df1.drop(df1.columns[[5, 9]], axis=1)
data.head()

/home/wellington/.local/lib/python3.10/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,gender,age,region_code,policy_sales_channel,driving_license,vehicle_age,vehicle_damage,previously_insured,annual_premium,vintage,response
0,Male,23,11.0,152.0,1,< 1 Year,Yes,0,23367.0,249,0
1,Female,41,15.0,14.0,1,1-2 Year,No,1,31409.0,221,0
2,Female,25,35.0,152.0,1,< 1 Year,No,1,46622.0,299,0
3,Female,26,8.0,160.0,1,< 1 Year,No,0,2630.0,136,0
4,Male,45,8.0,124.0,1,1-2 Year,Yes,0,42297.0,264,0